/*
 * style.css
 * Contains CSS for basic static website named "white graphics"
*/

/*
    =========================================
    Default Theme
    ----------------------------------------
    Fonts: Roboto Condensed
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap" rel="stylesheet">
    ----------------------------------------
    colors:
    blue : #34C6D3
    grey: #42474C
    dark-grey: #3A3F43
    ----------------------------------------
    USAGE OF COLOR VARIABLES
    background: $mainBlue;
*/

/**************************************************************************************************************************
                                                    FONT SETTING
**************************************************************************************************************************/
* {
    font-family: 'roboto condensed', sans-serif;
    --mainBlue: #34C6D3;
    --mainGrey: #41464B;
    --mainDarkGrey: #3A3F43;
    --mainWhite: #ffffff;
    --lightGrey: #aaa;
}

body {
/*
    margin: 0;
    padding: 0;
*/
/*    height: 7000px;*/
}

/**************************************************************************************************************************
                                                    BUTTON SECTION
**************************************************************************************************************************/
.btn {
    padding: 13px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-general {
    background: transparent;
}

.btn-basic {
    color: #FFF;
    border: 2px solid #fff;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
}

.btn-basic:hover {
    background: var(--mainWhite);
    color: var(--mainGrey);
}

.btn-blue {
    color: var(--mainBlue);
    border: 2px solid var(--mainBlue);
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
}
.btn-blue:hover{
    color: var(--mainWhite)!important;
    background: var(--mainBlue)!important;
}
/**************************************************************************************************************************
                                                    GENERAL CLASSES
**************************************************************************************************************************/
.no-gutter{
    padding: 0;
    margin: 0;
}
.heading{
    text-transform: uppercase;
    font-weight: 700;
    color: var(--mainGrey);
    font-size: 30px;
}
.blue-span{
    width: 30px;
    height: 3px;
    background: var(--mainBlue);
    border-radius: 10px;
    margin-top: 20px;
}
/**************************************************************************************************************************
                                                    HOME SECTION
**************************************************************************************************************************/
#home {
    height: 100vh;
    width: 100%;
}
.wrapper{
    background: url('../images/home-bg/bg-home.jpg');
    height: 100vh;
}
.home-content{
    padding: 36vh 0;
}
.home-content h1{
    font-weight: 700;
    color: var(--mainWhite);
    font-size: 55px;
}
.home-content .btn{
    margin-top: 20px;
}
/**************************************************************************************************************************
                                                    SERVICE SECTION
**************************************************************************************************************************/
.services-wrapper .service-icon{
    font-size: 40px;
    color: var(--mainBlue);
    padding:15px 20px ;
    transition: all 0.3s ease;
    border-radius: 5px;
}
.service-content h5{
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
}
.service:hover .service-icon{
    background: var(--mainBlue);
    color: var(--mainWhite);
}
/**************************************************************************************************************************
                                                    ABOUT SECTION
**************************************************************************************************************************/
.about-container{
    position: relative;
}
.about-bg{
    background: url('../images/about-bg/bg-about.jpg');
    width: 800px;
    height: 430px;
    position: absolute;
    right: 0;
    top: 0;
    border-left: solid 200px #fff;
    border-top: solid 683px transparent;
}
.about-wrapper p{
    font-size: 16px;
    color: var(--mainGrey)
}
/**************************************************************************************************************************
                                                    WORKS SECTION
**************************************************************************************************************************/
.works-wrapper .col-md-3{
    padding: 0;
}
.work{
    overflow: hidden;
}
.work img{
    transition: all 0.3s ease-in-out;
}
.work img:hover{
    transform: scale(1.4);
   
}
/**************************************************************************************************************************
                                                    TEAM SECTION
**************************************************************************************************************************/
#team .owl-theme .owl-dots .owl-dot.active span{
    background: var(--mainBlue);
    margin-top: 50px;
}
.team-description h3{
    font-weight: 700;
}
.team-description p{
    color: var(--mainBlue);
    font-style: italic;
    font-size: 16px;
    font-weight: 700;
}
.social-link i{
    margin: 0 15px;
    color: var(--mainGrey);
    font-size: 18px;
}
.team-description .social-link i:hover{
    color: var(--mainBlue);
}
/**************************************************************************************************************************
                                                    TESTIMONIALS SECTION
**************************************************************************************************************************/
#testimonials{
    background: url(../images/clients-review/bg-testimonials.jpg);
}
.review img{
    max-width: 120px;
    margin: 0 auto;
}
.review h3{
    font-size: 18px;
    font-weight: 700;
}
.review{
    width: 60%;
    margin: 0 auto;
    color: var(--mainWhite);
}
#testimonials .owl-theme .owl-dots .owl-dot.active span{
    background: var(--mainBlue);
}
#testimonials .owl-theme .owl-dots{
    margin-bottom: 50px;
}
#testimonials .heading{
    color: var(--mainWhite);
}
/**************************************************************************************************************************
                                                    TESTIMONIALS SECTION
**************************************************************************************************************************/
.pricing{
    border: solid 2px var(--mainBlue);
    border-radius: 10px;
    margin: auto 10px;
}
#pricing .bg-blue{
    background: var(--mainBlue);
    color: var(--mainWhite) !important;
}
#pricing .bg-blue ul{
    color: var(--mainWhite);
}
.pricing-head-blue{
    display: inline-block;
    background: var(--mainBlue);
    color: var(--mainWhite);
    padding: 4px 15px;
    font-weight: 700;
}
.pricing-head-white{
    display: inline-block;
    background: var(--mainWhite);
    color: var(--mainBlue);
    padding: 4px 15px;
    font-weight: 700;
    margin-top: 15px;
}
.pricing h2{
    padding-top: 20px;
    font-weight: 700;    
    font-size: 56px;
    color: var(--mainGrey);
}
.pricing ul li{
    list-style: none;
    padding-top: 15px;
}    
.pricing ul{
    font-size: 16px;
    font-weight: 400;
    color: var(--lightGrey);
}
.bg-blue .pricing ul,.bg-blue .pricing h2{
    color: var(--mainWhite);
}
#pricing .btn-basic:hover{
    color: var(--mainBlue);
}

/**************************************************************************************************************************
                                                    STATS SECTION
**************************************************************************************************************************/
.stats-bg{
    background: url('../images/status-bg/bg-stats.jpg');
    /* height: 500px; */
    position: relative;
}
#stats i{
    color: var(--mainBlue);
}

.stats-overlay{
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
}
.stats-item h3{
    color: var(--mainWhite);
    font-size: 32px;
    font-weight: 700;
}
.stats-item p{
    color: var(--mainWhite);
    font-size: 16px;
}
#stats .section-head .heading{
    color: var(--mainWhite);
     position: relative;
} 
#stats .section-head{
    position: relative;
}
/**************************************************************************************************************************
                                                    CONTACTS SECTION
**************************************************************************************************************************/
#contact-us{
    background: var(--mainGrey);
    color: var(--mainWhite);
}
.contact-head p{
    font-size: 18px;
    font-weight: 300;
}
.contact-head h3{
    font-weight: bold;
    font-size: 28px;
}
.location h5{
    padding-top: 20px;
    font-size: 18px;
    font-weight: 700;
}
.contact-info{
    margin-top: 20px;
}
.contact-info p{
    font-size: 16px;
}
.contact-social-link i{
    color: var(--mainWhite);
    font-size: 18px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.contact-social-link i:hover{
    color: var(--mainBlue);    
}
.form-control{
    background: transparent;
    padding: 10px;
    margin-top: 15px;
}
#contact-us .btn{
    padding: 7px 20px!important;
    margin-top: 20px!important;
}

/**************************************************************************************************************************
                                                    FOOTER SECTION
**************************************************************************************************************************/
#footer{
    background: var(--mainDarkGrey);
    color: var(--mainWhite);
}
#footer ul{
    padding-left: 0%;
}
ul li{
    display: inline-block;
    text-transform: capitalize;
    list-style: none;
}
ul li a{
    color: var(--mainWhite);
    text-decoration: none!important;
}
ul li a:hover{
    color: var(--mainBlue);
}
#footer{
    padding-top: 30px;
    padding-bottom: 50px;
}
#footer p{
    font-size: 16px;
    letter-spacing: 1px;
}
#footer li{
    font-size: 16px;
}