/*
 * style.css
 * Contains CSS for basic static website named "white graphics"
*/

/*
    =========================================
    Default Theme
    ----------------------------------------
    Fonts: Roboto Condensed
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap" rel="stylesheet">
    ----------------------------------------
    colors:
    blue : #34C6D3
    grey: #42474C
    dark-grey: #3A3F43
    ----------------------------------------
    USAGE OF COLOR VARIABLES
    background: $mainBlue;
*/

/**************************************************************************************************************************
                                                    FONT SETTING
**************************************************************************************************************************/
* {
    font-family: 'roboto condensed', sans-serif;
    --mainBlue: #34C6D3;
    --mainGrey: #41464B;
    --mainDarkGrey: #3A3F43;
    --mainWhite: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    height: 7000px;
}

/**************************************************************************************************************************
                                                    BUTTON SECTION
**************************************************************************************************************************/
.btn {
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.btn-general {
    background: transparent;
}

.btn-basic {
    color: #FFF;
    border: 2px solid #fff;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}

.btn-basic:hover {
    background: var(--mainWhite);
    color: var(--mainGrey);
}
/**************************************************************************************************************************
                                                    HOME SECTION
**************************************************************************************************************************/
#home {
    height: 100vh;
    width: 100%;
}

#home-img {
    width: 100%;
    height: 100%;
    background: url('../images/home-bg/bg-home.jpg') no-repeat;
    background-size: cover;
    transform: scale(1);
}
#home-content h1 {
    color: var(--mainWhite);
    text-transform: uppercase;
    font-size: 55px;
    padding: 20px;
    padding-bottom: 7px;
    line-height: 53px;
}
/**************************************************************************************************************************
                                                    SERVICES SECTION
**************************************************************************************************************************/